@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Client</title>
</head>
<body>
    <h1>WebSocket Client</h1>
    <textarea id="messages" cols="30" rows="10"></textarea>
    <br>
    <input type="text" id="messageInput">
    <button onclick="sendMessage()">Send</button>

    <script>
        let socket = new WebSocket("wss://localhost:7137/"); // Replace with server WebSocket URL

        socket.onopen = function () {
            console.log("Connection opened");
            document.getElementById('messages').value += "Connection opened\n";
        };

        socket.onmessage = function (event) {
            console.log("Message received: " + event.data);
            document.getElementById('messages').value += "" + event.data + "\n";
        };

        socket.onclose = function (event) {
            console.log("Connection closed");
            document.getElementById('messages').value += "Connection closed\n";
        };

        socket.onerror = function (error) {
            console.log("Error: " + error.message);
        };

        function sendMessage() {
            let message = document.getElementById("messageInput").value;
            socket.send(message);
            document.getElementById('messages').value += "I am Client: " + message + "\n";
        }
    </script>
</body>
</html>

